<div>
    <H1>Random Beers</H1>
    {{#each random}}
    <ul>
        <li>
            <h1>{{name}}</h1>
        </li>

        <li><img src={{image_url}} alt=""></li>
        <li>{{description}}</li>
        <li>
            {{tagline}}
        </li>
    </ul>


    {{/each}}

</div>